{{- $hostname := promptStringOnce . "hostname" "Hostname" -}}
{{- $gpu := promptChoiceOnce . "gpu" "GPU vendor" (list "nvidia" "amd" "intel") -}}
{{- $is_workstation := promptBoolOnce . "is_workstation" "Is this the AI/content creation workstation" }}

[data]
    hostname = {{ $hostname | quote }}
    gpu = {{ $gpu | quote }}
    is_workstation = {{ $is_workstation }}
